.container {
  flex: 1;
  width: 100%;
  padding: 1em;
}

.title {
  font-weight: 600;
}

.trackList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid lightgray;
}

.number {
  font-weight: 600;
}

.trackName {
  margin: 0 1em;
  text-align: left;
  flex: 3;
  text-transform: capitalize;
}

.time {
  justify-self: flex-end;
  opacity: 0.5;
}
