.body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* width: 100%; */
}

.infoBanner {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  border: 1px solid rgba(90, 90, 90, 0.5);
  width: 100%;
}

.imageContainer {
  display: flex;
  flex-basis: 66%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8% 5%;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.imageContainer * {
  height: auto;
  text-align: left;
  z-index: 1;
  text-shadow:
        0.03em 0 white,
        0 0.03em white,
        -0.03em 0 white,
        0 -0.03em white;
}

.artistName {
  margin: 1em 0;
  /* font-weight: 700; */
  font-size: 2.5em;
}

.artistInfo {
  color: gray;
}

.fans {
  position: relative;
  color: black;
  margin: 0 0 1em 0;
  font-size: large;
  text-shadow: none;
}

.fans b {
  color: black;
  text-shadow: none;
}

.fans:after {
  content:'';
  width: 70%;
  height: 0;
  background: black;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0.7em 0;
  border: 1px solid black;
  opacity: 0.3;
}

.topTracksContainer {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em;
  border-left: 1px solid rgba(90, 90, 90, 0.5);
  height: 100%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  transform: translateY(-30%);
  left: 0;
  width: 100%;
  z-index: 0;
}

@media (max-width: 850px) {
  .infoBanner {
    flex-direction: column;
    border: none;
  }

  .imageContainer {
    height: auto;
    overflow: hidden;
    padding: 1rem 0;
    background: white;
    flex: 0;
    flex-grow: 3;
    width: 100%;
    border: none;
    border-bottom: 2px solid lightgray;
  }

  .imageContainer > :not(:first-child) {
    padding: 0 1em;
  }

  .backgroundImage {
    position: relative;
    width: 100%;
    transform: none;
  }

  .fans:after {
    display: none;
  }
}


*:first-child li.parent:last-child > :nth-child(1) {
  color: red;
}