.body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 13vw;
  z-index: 100;
  font-size: large;
}
